{% comment %} {% if template.name == 'product' %} {% endcomment %}
<!-- load style & scripts-->
<link rel="stylesheet" href="{{ 'countdown.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'badge.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'preorder-btn.css' | asset_url }}">
<script src="{{ 'badge.js' | asset_url }}" defer></script>
<script src="{{ 'countdown.js' | asset_url }}" defer></script>
<script src="{{ 'preorder-btn.js' | asset_url }}" defer></script>
<script src="{{ 'preorder-embed.js' | asset_url }}" defer></script>
<script src="{{ 'preorder-payment-info.js' | asset_url }}" defer></script>
<script src="{{ 'variant-price.js' | asset_url }}" defer></script>



<div id="app-preorder-embed">
    <div id="quantity-error" style="color: red; font-size: 14px; margin-top: 4px;"></div>
    <div id="campaign-countdown"></div>
    {% comment %} <p>Hello world</p> {% endcomment %}

  {% comment %} <p>Hello world</p> {% endcomment %}
  <!-- 1. Variant Preorder Data -->
  {% for variant in product.variants %}
  <div class="variant-preorder-data" data-variant-id="{{ variant.id }}"
    data-preorder="{{ variant.metafields.custom.preorder.value }}"
    data-preorder-end-date="{{ variant.metafields.custom.preorder_end_date.value }}">
  </div>
  {% comment %} <p> compare at: {{ variant.selling_plan_allocations.first.price }}</p> {% endcomment %}
  {% endfor %}


  <!-- 3. Preorder Payment Info (Partial Payment) -->

  {% assign variant = product.selected_variant %}
  {% assign selected_selling_plan_allocation = variant.selling_plan_allocations.first %}
  {% assign compare_at_price = selected_selling_plan_allocation.compare_at_price %}
  {% assign price = selected_selling_plan_allocation.price %}
  {% assign campaignid = product.metafields.custom.campaign_id %}
  {% assign campaignprops = shop.metaobjects.preordercampaign[campaignid] %}
  {% comment %} {% assign campaignType = campaignprops.object.value.campaignData.campaigntype %} {% endcomment %}
  {% assign parsedCampaignData = campaignprops.object.value.campaignData %}


  <!-- Variant preorder status -->
  <div id="variant-data" {% for variant in product.variants %} data-variant-{{ variant.id
    }}="{{ variant.metafields.custom.preorder.value }}" {% endfor %}></div>

  <!-- Badge Element -->
  <span id="preorder-badge" style="display:none;" class="preorder-badge">Preorder</span>

  <!-- Variant Prices -->
  {% comment %} <div id="variant-prices" style="margin-top: 10px; margin-bottom: 10px;">
    {% for variant in product.variants %}
    {% assign allocation = variant.selling_plan_allocations.first %}
    {% assign preorder = variant.metafields.custom.preorder.value %}
    <div class="variant-price" id="variant-{{ variant.id }}" data-instock="{{ variant.available }}"
      style="display:none;">

     {% if allocation and preorder and variant.price < variant.compare_at_price %}
      <!-- Campaign price (if campaign applies) -->
      <span class="campaign-price" style="font-size: large;">{{ variant.price | money }}</span>
      <span class="compare-at campaign-compare" style="text-decoration: line-through; font-size: medium;">
        {{ variant.compare_at_price | money }}
      </span>

      <!-- Always fallback to normal price -->
      <span class="fallback-price" style="display:none; font-size: large;">{{ allocation.compare_at_price | money
        }}</span>

      {% else %}
      <!-- Variant not in any campaign, show normal price -->
      <span class="fallback-price" style="font-size: large;">{{ variant.price | money }}</span>
      {% if variant.compare_at_price > variant.price %}
      <span class="compare-at" style="text-decoration: line-through; font-size: medium;">
        {{ variant.compare_at_price | money }}
      </span>
      {% endif %}
      {% endif %}

    </div>
    {% endfor %}
  </div> {% endcomment %}



  <!-- 5. Preorder Buttons -->
  {% assign campaignSettings = campaignprops.object.value %}
  <div id="product-data" data-preorder="{{ product.metafields.custom.preorder.value }}"></div>
  <div id="product-metafields" data-max-units="{{ product.metafields.custom.preorder_max_units.value }}"
    data-units-sold="{{ product.metafields.custom.preorder_units_sold.value }}">
  </div>
  <div id="selling-plan-data" data-selling-plan="{{ product.selling_plan_groups.first.selling_plans.first.id }}">
  </div>
  <div id="campaign-data" data-campaign-type="{{ campaignprops.object.value.campaignData.campaigntype }}">
  </div>


  {% for variant in product.variants %}
  {% assign settings = shop.metaobjects.preordercampaign[variant.metafields.custom.campaign_id] %}
  {% assign designSettings = settings.object.value.designFields %}
  {% assign campaignData = settings.object.value.campaignData %}

  <div class="preorder-button" data-variant-id="{{ variant.id }}"
    data-preorder="{{ variant.metafields.custom.preorder.value }}"
    data-max-units="{{ variant.metafields.custom.preorder_max_units.value }}"
    data-units-sold="{{ variant.metafields.custom.preorder_units_sold.value }}" 
    data-instock="{% if variant.inventory_management and variant.inventory_quantity > 0 %}true{% else %}false{% endif %}"
    data-campaign-id="{{ variant.metafields.custom.campaign_id.value }}"
    style="display:none;
              border: {{ designSettings.borderSize }}px solid {{ designSettings.borderColor }};
              border-radius: {{ designSettings.borderRadius }}px;
              padding-top: {{ designSettings.spacingIT }}px;
              height: 70px;
              padding-bottom: {{ designSettings.spacingIB }}px;
              margin-top: {{ designSettings.spacingOT }}px;
              margin-bottom: {{ designSettings.spacingOB }}px;
              cursor:pointer;
              justify-content:center;
              align-items:center;
              background: {% if designSettings.buttonStyle == 'single' %}
                            {{ designSettings.buttonBackgroundColor }}
                          {% else %}
                            linear-gradient({{ designSettings.gradientDegree }}deg, {{ designSettings.gradientColor1 }}, {{ designSettings.gradientColor2 }})
                          {% endif %}">
    <p class="button-text" style="
        color: {{ designSettings.buttonTextColor }};
        font-size: {{ designSettings.buttonFontSize }}px;
        font-family: {{ designSettings.fontFamily }};">
      {{ campaignData.button_text }}
    </p>
  <span class="loader-spinner" style="
      display:none;
      border: 3px solid {{ designSettings.buttonTextColor }};
      border-top-color: transparent;
    ">
  </span>
  </div>
  
  {% endfor %}
  <div id="campaign-data"
     data-campaign-type="{{ campaignprops.object.value.campaignData.campaigntype | upcase | default: 'IN_STOCK' }}">
</div>


<!-- Preorder Payment Info (Partial Payment) -->
{% for variant in product.variants %}
  {% assign deposit_percent = variant.metafields.custom.deposit_percent.value | default: 0 %}
  {% assign price = variant.price %}
  {% assign payment_type = parsedCampaignData.payment_type %}
{% if variant.inventory_management and variant.inventory_quantity > 0 %}
  {% assign instock = true %}
{% else %}
  {% assign instock = false %}
{% endif %}

  {% comment %} {% if deposit_percent > 0 and variant.metafields.custom.preorder == true and payment_type == 'partial' %} {% endcomment %}
    {% assign initial_payment = price | times: deposit_percent | divided_by: 100 %}
    {% assign balance_payment = price | minus: initial_payment %}
    {% assign payment_schedule = campaignprops.object.value.campaignData.payment_schedule %}
    {% assign due_payment_type = payment_schedule.type %}
    {% assign due_payment_value = payment_schedule.value %}

    {% if due_payment_type == "DAYS_AFTER" %}
      {% assign days_after = due_payment_value | plus: 0 %}
      {% assign seconds_to_add = days_after | times: 86400 %}
      {% assign current_time = 'now' | date: "%s" %}
      {% assign due_timestamp = current_time | plus: seconds_to_add %}
      {% assign balance_due_date = due_timestamp | date: "%Y-%m-%dT%H:%M:%SZ" %}
    {% elsif due_payment_type == "EXACT_DATE" %}
      {% assign balance_due_date = due_payment_value %}
    {% else %}
      {% assign balance_due_date = nil %}
    {% endif %}

    <div class="preorder-variant" data-variant-id="{{ variant.id }}" style="display: none;">
       {% if deposit_percent > 0 and variant.metafields.custom.preorder == true and payment_type == 'partial' %}
      <div class="preorder-payment-info" style="text-align:center;">
        <p style="
          font-size: {{ designSettings.messageFontSize }}px;
          color: {{ designSettings.messageColor }};
          font-family: {{ designSettings.fontFamily }};
        ">
          {% if balance_due_date %}
            Pay {{ initial_payment | money }} now and {{ balance_payment | money }} by {{ balance_due_date | date: "%d %b %Y" }}
          {% else %}
            Pay {{ initial_payment | money }} now and the remaining balance later
          {% endif %}
        </p>
      </div>
      {% endif %}
      <p style="
          font-size: {{ designSettings.messageFontSize }}px;
          color: {{ designSettings.preorderMessageColor }};
          font-family: {{ designSettings.fontFamily }};
          text-align:center;
        ">
        {{ parsedCampaignData.shipping_message }}
      </p>
    </div>
{% endfor %}

  {% schema %}
  {
  "name": "Preorder Embed",
  "target": "body",
  "settings": []
  }
  {% endschema %}