{% assign campaignid = product.metafields.custom.campaign_id %} 
{% assign campaignprops = shop.metaobjects.preordercampaign[campaignid] %}
{% assign settings = shop.metaobjects.design_settings[campaignid] %}
{% assign designSettings = settings.object.value %}
{% assign json_string = settings.object.value | replace: '=>', ':' %}
{% assign campaignSettings = campaignprops.object.value %}

<div id="product-data" data-preorder="{{ product.metafields.custom.preorder.value }}"></div>
<div 
  id="product-metafields" 
  data-max-units="{{ product.metafields.custom.preorder_max_units.value }}" 
  data-units-sold="{{ product.metafields.custom.preorder_units_sold.value }}">
</div>
<div id="selling-plan-data" data-selling-plan="{{ product.selling_plan_groups.first.selling_plans.first.id }}"></div>
<div id="campaign-data" 
     data-campaign-type="{{ campaignSettings.campaigntype }}">
</div>

<div 
  id="product-stock" 
  data-in-stock="{{ product.selected_or_first_available_variant.available }}">
</div>

<script src="{{ 'preorder-btn.js' | asset_url }}" defer="async"></script>

<link rel="stylesheet" href="{{ 'preorder-btn.css' | asset_url }}">


{% if product.metafields.custom.preorder == true %}
  
<div 
  id="preorder-button-{{ product.selected_or_first_available_variant.id }}"
  style="
    border: {{ designSettings.borderSize }}px solid {{ designSettings.borderColor }};
    border-radius: {{ designSettings.borderRadius }}px;
    padding-top: {{ designSettings.spacingIT }}px;
    padding-bottom: {{ designSettings.spacingIB }}px;
    margin-top: {{ designSettings.spacingOT }}px;
    margin-bottom: {{ designSettings.spacingOB }}px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background:
      {% if designSettings.buttonStyle == 'single' %}
        {{ designSettings.buttonBackgroundColor }}
      {% else %}
        linear-gradient({{ designSettings.gradientDegree }}deg, {{ designSettings.gradientColor1 }}, {{ designSettings.gradientColor2 }})
      {% endif %}
    ;
  "
  class="preorder-button"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
>
  <p class="button-text" style="
    color: {{ designSettings.buttonTextColor }};
    font-size: {{ designSettings.messageFontSize }}px;
    font-family: {{ designSettings.fontFamily }};
  ">
    {{ campaignSettings.button_text }}
  </p>
</div>


{% endif %}
{% schema %}
{
  "name": "preorder button",
  "target": "section",
  "settings": []
}
{% endschema %} 