{% comment %} {% assign settings = shop.metaobjects.design_settings["5-1"] %} {% endcomment %}
{% comment %} {% assign settings = shop.metaobjects.design_settings.values | reverse | first %} {% endcomment %}

{%  assign campaignid  = product.metafields.custom.campaign_id %} 
{% assign campaignprops = shop.metaobjects.preordercampaign[campaignid] %}
{% assign settings = shop.metaobjects.design_settings[campaignid] %}

<div id="product-data" data-preorder="{{ product.metafields.custom.preorder.value }}"></div>
<div id="selling-plan-data" data-selling-plan="{{ product.selling_plan_groups.first.selling_plans.first.id }}"></div>

<script src="{{ 'preorder-btn.js' | asset_url }}" defer="defer"></script>

<link rel="stylesheet" href="{{ 'preorder-btn.css' | asset_url }}">


{% if product.metafields.custom.preorder == true %}
  
<div 
  style="
    
    border: {{ settings.bordersize }}px solid {{ settings.bordercolor }};
    border-radius: {{ settings.borderradius }}px;
    padding-top : {{ settings.spacingit}}px;
    padding-bottom: {{ settings.spacingib }}px;
    margin-top: {{ settings.spacingot }}px;
    margin-bottom : {{ settings.spacinob }}px;
    display:flex;
    cursor: pointer;
    justify-content:center;
    background: {% if settings.buttonstyle == 'single' %}
                  {{ settings.buttonbackgroundcolor }}
                {% else %}
                  linear-gradient({{ settings.gradientdegree }}deg,
                                  {{ settings.gradientcolor1 }},
                                  {{ settings.gradientcolor2 }})
                {% endif %}
                ;
                
               
  "
  class="preorder-button" data-variant-id="{{ product.selected_or_first_available_variant.id }}"
>
 <p style="color: {{settings.buttontextcolor}}; 
 font-size: {{ settings.messagefontsize }}px;
  font-family: {{ settings.fontfamily }};

 "> {{campaignprops.button_text}}</p>
</div>

{% endif %}



{% comment %} <pre>{{ settings | json }}</pre> {% endcomment %}





{% schema %}
{
  "name": "preorder button",
  "target": "section",
  "settings": []
}
{% endschema %}