<script src="{{ 'variant-price.js' | asset_url }}" defer></script>
{% assign variant = product.selected_variant %}

<div id="variant-prices">
  {% for variant in product.variants %}
    {% assign allocation = variant.selling_plan_allocations.first %}
    <div 
      class="variant-price" 
      id="variant-{{ variant.id }}" 
      style="display: none;"
    >
      {% if allocation %}
        <span class="price" data-price="{{ allocation.price | money }}">
          {{ allocation.price | money }}
        </span>
        {% if allocation.compare_at_price > allocation.price %}
          <span class="compare-at" data-compare="{{ allocation.compare_at_price | money }}"
          style="text-decoration: line-through;"> 
            {{ allocation.compare_at_price | money }}
          </span>
        {% endif %}
      {% else %}
        <span class="price" data-price="{{ variant.price | money }}">
          {{ variant.price | money }}
        </span>
        {% if variant.compare_at_price > variant.price %}
          <span class="compare-at" data-compare="{{ variant.compare_at_price | money }}" style="text-decoration: line-through;">
            {{ variant.compare_at_price | money }}
          </span>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
</div>


{% schema %}
{
  "name": "Price (Preorder)",
  "target": "section",
  "settings": []
}
{% endschema %}
